.leaderboard-container {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url("coolbackgrounds-fractalize-ranger_made.png");
    background-size: 100%;
}

.leaderboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}

.leaderboard-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #000000;
    background-color: white;
    margin-bottom: 30px;
}

.leaderboard-table {
    width: 100%;
    max-width: 900px;
    background-color: white;
    border-radius: 12px;
    /* box-shadow: 0 6px 12px rgba(255, 255, 255, 0.15); */
    overflow: hidden;
    padding: 20px;
}

.leaderboard-table thead {
    background-color: white;
    /* Dark header */
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.2rem;
    /* Larger font size */
    font-weight: bold;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 16px;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.leaderboard-table tbody tr:last-child td {
    border-bottom: none;
}

.new-game-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.new-game-button button {
    background-color: #28a745;
    /* Green */
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 14px 28px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.new-game-button button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.new-game-button button:active {
    background-color: #1e7e34;
}

.cursor {
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 6rem;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    animation:
        typewriter 4s steps(40) 1s 1 normal both,
        blinkingCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkingCursor {
    0% {
        border-right-color: rgba(255, 255, 255, 0.75);
    }

    100% {
        border-right-color: transparent;
    }
}