.question-page-body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  background-color: #1e3c72;
  background-image: url('coolbackgrounds-fractalize-tropical_salad.png');
  background-size: 100%;
}

.question-page-wrapper {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 20px;
}


.question-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  text-align: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}



.question-page-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
  width: 1500px;
  height: 500;

}


.question-box {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-width: 1000px;
  text-align: center;
}


.question-box h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  margin: 0;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
  height: 200px;
}

.answers div {
  width: 100%;
  max-width: 500px;
  padding: 15px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.answers .blue {
  background-color: #3498db;
}

.answers .green {
  background-color: #2ecc71;
}

.answers .yellow {
  background-color: #f1c40f;
}

.answers .red {
  background-color: #e74c3c;
}

.timer-background {
  position: fixed;
  top: 20%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.circle-timer-inner {
  background-color: white;
  color: red;
  border-radius: 50%;
  width: 226px;
  height: 226px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  font-size: 72px;
}